html{
    font-family: 'Noto Sans', sans-serif;
}

body{
    margin: 0;
}

html, body{
    height: 100%;
}

.mainBanner{
    max-width: 100%;
    height: 100%;
    background: url(../img/bgMainBanner.jpg);
    background-size: cover;
    overflow: hidden;
}

.mainFooter{
    height: 1000px;
    border-top: 100px solid orangered;
    background: teal;
}

.center {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.textCenter{
    text-align: center;
}