*{
    box-sizing: border-box;
}

html{
    font-family: 'Hind', sans-serif;
/*     min-width: 320px; */
    width: 100%;
    font-size: 16px;
}

body{
    /*background: url(../img/bgBody.jpg) no-repeat center fixed;*/
    background-size: cover;
}

html, body{
    height: 100%;
    min-height: 500px;
    margin: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

p{
    color: #074a8e;
}

/*--- HEADER ---*/

.mainHeader{
    position: fixed;
    top: 0;
    z-index: 9;
    box-sizing:border-box;
    width: 100%;
    background: transparent;
}

.headerBgHeight{
    height:100px;
}

.headerBgTop{
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
}

.headerBgBottom{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7;
    background: #ffc229;
}

/*.headerBgBottom:after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: -20px;
    background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,1), rgba(0,0,0,1) 25px, rgba(255,194,41,1) 25px, rgba(255,194,41,1) 50px);
    height: 20px;
    border: 1px solid black;
}
*/

.mainHeader_logo_imgLogo{
    width: 70px;
    margin: 20px;
    float: left;
}

.mainHeader_logo_title{
    float:left;
    margin: 42px 0 0 0;
    color: #074a8e;
    /* text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2); */
}

.mainHeader_nav{
    float: right;
    margin-top: 52px;
}

.mainHeader_nav a{
    margin: 0 16px;
    font-size: 18px;
    float: left;
    will-change: color;
    transition: color .3s cubic-bezier(0.22, 0.61, 0.36, 1);
/*         text-transform: uppercase;
        font-size: 14px;
        font-weight: bold; */
/*         letter-spacing: -0.5px; */
    /*     text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2); */
}

.mainHeader_nav a:hover{
    color: #ffc229;
}

.activeNav{
    cursor: default;
    color: #ffc229;
}

.wrapperHeader{
    height: 100%;
    max-width: 1920px;
    padding: 0 2%;
}

/*--- BANNER ---*/

.mainBanner{
    overflow: hidden;
    position: relative;
    z-index: 8;
    width: 100%;
    height: 100%;
    background: url(../img/bgMainBanner2.jpg) left bottom no-repeat;
    background-size: cover;
}

.mainBanner p{
    margin: 0;
    color: #fff
}

.mainBanner_welcome{
    font-size: 2vw;
}

.mainBanner_title{
    font-size: 7vw;
    /*     height: 30vh !important; */
    /*     width: auto !important; */
    /*     height: auto !important; */
    left: 50%;
    margin: 0.7vw auto;
}

.mainBanner_bajada{
    font-size: 1.6vw;
}

.buttonContact{
    margin: 2vw auto !important;
/*     display: table; */
}

.buttonArrow{
    text-indent: -9999px;
    width: 34px;
    height: 34px;
    background: url(../img/bgButtonArrow.png) no-repeat 0px 2px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -17px;
    transform: translateY(0);
    bottom: 20px;
    will-change: background;
    transition: background .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    animation: flotar 2s ease-in-out infinite;
}

.buttonArrow:hover{
    background: #ffc229 url(../img/bgButtonArrow.png) no-repeat 0px 2px;
}

@keyframes flotar{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY( 10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*--- NOSOTROS ---*/
.nosotros{
    background: url(../img/bgNosotros.jpg) no-repeat fixed;
    background-size: cover;
}

.nosotros_contVideo{
    width: 100%;
    overflow: hidden;
    /*background: red;*/
}

.nosotros_contVideo_video{
    width: 560px;
    height: 310px;
    margin: 100px auto;
    display: block;
    border: 0;
}

.nosotros_contBox{
    text-align: center;
    display: flex;
    justify-content: center;
}

.nosotros_contBox_box{
    max-width: 340px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    background: #ffc229;
    /* background: #fff; */
    margin: 0 2% 100px;
    /* height: auto; */
    /* display: flex; */
}

.nosotros_contBox_box p{/* color: #fff; *//* color: #333; *//*
color: #074a8e; *//*
color: orangered;*/}

.nosotros_contBox_boxImg{
    width: 100%;
    height: auto;
}

.nosotros_contBox_boxTitle{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
/*     color: #333; */
    color: #074a8e;
    /* color: #1f9b05; */
    /* color: #ffc229; */
/*     color: #fff !important; */
}

.nosotros_contBox_boxTxt{
    text-align: center;
    margin: 1.5em;
    color: #333;
    color: #fff;
    color: #074a8e;
}


/*--- PRODUCTOS ---*/
.logo_proveedores{
    max-width: 715px;
    height: auto;
    margin: 0 10%;
    width: 80%;
}

.cont_productos{
    max-width: 1260px;
    margin: auto;
    overflow: hidden;
/*     background: red; */
}

.producto{
    width: 242px;
    height: 242px;
    text-align: center;
    margin: 0px 5px 34px;
    position: relative;
    float: left;
    background: #ffc229;
    color: #074a8e;

/*    background: #333;
    color: #fff;*/
}

/*.producto:nth-child(even){
    background: #333;
    color: #fff;
}

.producto:nth-child(even) .producto_title{
    background: #ffc229;
    color: #333;
}*/

.producto_img{
/*     width: 150px; */
    margin-top: -16px;
}

.producto_title{
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 1.em;
    padding: 15px 0;
    width: 80%;
    text-transform: uppercase;
    background: #074a8e;
    color: #fff;

/*    background: #ffc229;
    color: #333;*/
}

.producto_txt{
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 0;
    list-style-type: none;
    text-align: left;
    pointer-events: none;
}

.producto_txt li:before{
    content: "» ";
    color: inherit;
}

.producto_txt li{
    margin: 0 0 10px 20%;
    pointer-events: auto;
}

.producto_imgHover{
    opacity: 1;
    transform: translate(-50%, -50%) !important;
    transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1) .5s;
}

.producto_imgHoverOn{
    opacity: 0;
    transform: translate(-55%, -50%) !important;
    transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.productoHover{
    transform: translateX(-20px);
    opacity: 0;
    transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.productoHoverOn{
    opacity: 1;
    transform: translateX(0);
}

.delay_2s{
    transition-delay: .2s;
}

.delay_4s{
    transition-delay: .4s;
}



/*
.producto{
    width: 300px;
    height: 300px;
    overflow: hidden;
    background: #ffc229;
    text-align: center;
    margin-left: 300px;
    position: relative;
}

.producto_img{
    width: 190px;
    margin: 27px;
    opacity: 1;
    transition: opacity .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.producto_title{
    font-weight: bold;
    font-size: 1.8em;
}

.producto_txt{
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 0;
    list-style-type: none;
    text-align: left;
    pointer-events: none;
}

.producto_txt li{
    width: 50%;
    margin: 0 0 10px 30%;
    font-size: 1.2em;
    pointer-events: auto;
    transform: translateX(-20px);
    opacity: 0;
}

.producto:hover .producto_img{
    opacity: 0;
}

.producto:hover .producto_txt li{
    opacity: 1;
    transform: translateX(0);
    transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.producto:hover .producto_txt .producto_txt_b{
    transition-delay: .2s;
}

.producto:hover .producto_txt .producto_txt_c{
    transition-delay: .4s;
}
*/

/*--- FOOTER ---*/
.mainFooter{/*     position: relative; *//* overflow: hidden; */padding-top: 200px;}

.mainFooter_title{
    font-size: 2em;
    font-weight: bold;
    margin: 15px 0 0;
    transform: translateX(-302px);
    text-align: center;
    text-transform: uppercase;
}

.wrapperFooter{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
/*     flex-direction: row; */
    /*     border: 1px dashed blue;
    background: green; */
}

.contactForm{
    width: 100%;
    max-width: 680px;
    margin: 40px 0 88px;
/*     border: 1px solid green; */
/*     background: mediumturquoise; */
    position: relative;
}

.contactForm_gracias{
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    text-align: center;

    /*background: orangered;*/
    /*display: none;*/
}

.inputForm, .textareaForm{
    font-family: 'Hind', sans-serif;
    display: block;
    width: 100%;
    padding: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    border: 4px solid #ffc229;
    font-size: 16px;
    resize: none;
    color: #074a8e;
    /* border-radius: 3px; */
}

/*-- Remover color autocompletado Chrome --*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #074a8e !important;
}

.button{
    position: relative;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background: #ffc229;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 0;
    cursor: pointer;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    will-change: text-shadow;
    transition: text-shadow .2s cubic-bezier(0.22, 0.61, 0.36, 1);
    padding: 16px;
    line-height: 1.5;
    height: 56px;
    border-radius: 3px;
    width: 295px;
}

.button:hover{
    text-shadow: none;
}

.btn-form{
    /*width: 295px;*/
    float: right;
}

.formInfo{
    min-width: 425px;
    margin: 94px 0;
}

.boxInfo_titles{
    overflow: hidden;
    /* background: green; */
}

.boxInfo_titles_name{
    font-weight: bold;
    margin: 0 0 2px 0;
    font-size: 1.75em;

/*     color: #1f9b05; */
}

.boxInfo_titles_info{
    margin: 0 0 40px 0;
    font-size: 1.125em;
}

/*.formInfo-p{
    margin: 0 0;
     letter-spacing: 0.5px;
}*/

/*.formInfoLista{
    list-style-type: none;
    padding: 0;
}

.formInfoLista.inline li{
    display: inline-block;
}*/

.columnForm{
    padding: 0 2%;
    color: #074a8e;
    /* border: 1px dashed orangered; */
}



.box_yellow{
    padding: 100px 0;
    text-align: center;
    position: relative;
    background: #ffc229;
}

/*.mainFooter-info p{
    color: #333;
    margin: 40px auto 0;
}*/

/*--- ICONS ---*/
.icons{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    text-align: center;
    float: left;
}

.icons svg{
    transform: scale(1.5);
}

.icons_blue{
    border: 3px solid #074a8e;
}

.icons_blue svg{
    fill: #074a8e;
}

.icons_white{
    border: 3px solid #fff;
}

.icons_white svg{
    fill: #fff;
}

/*--- HELPERS ---*/
.browserupgrade {
    margin: 0;
    background: tomato;
    color: #fff;
    padding: 0.2em 0;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 9999;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centerTable{
    display: table;
    margin: auto;
}

/*.textCenter{
    text-align: center;
}*/

.currentNav{
    cursor: default;
}

.wrapper{
    width: 100%;
    /* min-width: 320px; */
    margin: 0 auto;
    position: relative;
}

.replaceColorNav{
    color: #074a8e;
}

a.replaceColorNav:hover, a.replaceColorNav.activeNav{
    color: #fff;
}

.hide1024{
    display: none;
}

.buttonContact_textB{
    opacity: 0;
}

.change_opacity{
    will-change: opacity;
    transition: opacity .3s ease-in-out;
}

.hidden{
    opacity: 0;
}

.visible{
    opacity: 1;
}



.error{
    border: 4px solid red;
}



.stripes, .stripes_up:before, .stripes_down:after{
    content: '';
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    background: #333;
    background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px, rgba(255, 194, 41, 1) 25px, rgba(255, 194, 41, 1) 50px);
    background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px, rgba(255, 194, 41, 1) 25px, rgba(255, 194, 41, 1) 50px);
    background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px, rgba(255, 194, 41, 1) 25px, rgba(255, 194, 41, 1) 50px);
    background-image: -ms-repeating-linear-gradient(-45deg, transparent, transparent 25px, rgba(255, 194, 41, 1) 25px, rgba(255, 194, 41, 1) 50px);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, rgba(255, 194, 41, 1) 25px, rgba(255, 194, 41, 1) 50px);
}

.stripes_up:before{
    top: 0;
}

.stripes_down:after{
    bottom: 0;
}


/*-- develop --*/

h2,h3{
    color: #fff;
}

.dev{
    /*height: 800px;*/
    /*display: flex;*/
    /*border: 1px dashed orange;*/
}

.dev2{
    /*border: 1px dashed green;*/
}

::-webkit-input-placeholder {
    color: #074a8e;
}

:-moz-placeholder {
    color: #074a8e;
}

::-moz-placeholder {
    color: #074a8e;
}

:-ms-input-placeholder {
    color: #074a8e;
}

:focus {
    outline: 0;
}

/*-- MEDIA QUERIES --*/

@media ( max-width: 1024px ){

    .mainFooter_title{
        transform: translateX(0);
    }

    .formInfo{
        margin: auto;
    }

    .contactForm{
        margin: 40px auto;
    }

    .btn-form{
        width: 100%;
        float: none;
    }

    .wrapperFooter{
        flex-direction: column;
    }

}

@media ( max-width: 768px ){

    /* ==========================================================================
       Menu
       ========================================================================== */
    .menu_toggle {
        pointer-events: initial;
        width: 50px;
        height: 50px;
        position: absolute;
        cursor: pointer;
        top: 38px;
        right: 30px;
    }

    .menu_toggle span {
        display: block;
        background: #074a8e;
    }

    .menu_toggle_hamburger {
        position: absolute;
        height: 100%;
        width: 100%;
        /*opacity: 1;*/
    }

    .menu_toggle_hamburger span {
        width: 50px;
        height: 6px;
        position: relative;
        margin-bottom: 8px;
    }

    .menu_toggle_cross {
        position: absolute;
        height: 100%;
        width: 100%;
        top: -8px;
        transform: rotate(0deg);
        will-change: transform;
        transition: transform .3s ease-in-out;
    }

    .menu_toggle_hide {
        height: 100%;
        width: 6px;
        position: absolute;
        top: 0;
        left: 22px;
        transition-delay: 0s;
        background: #074a8e;
        /*opacity: 0;*/
    }

    .menu_toggle_cross span:nth-child(2) {
        width: 100%;
        height: 6px;
        top: 22px;
        left: 0;
        opacity: 1;
    }

    .mainHeader{
        position: absolute;
        background: rgba(255, 194, 41, 0);
        will-change: background;
        transition: background .3s ease-in-out;
        height: 100%;
        min-height: 500px;
        pointer-events: none;
    }

    .mainHeader_logo{
        transform-origin: left;
        transform: scale(.8) translate(8px,16px);
    }

    .mainHeader_nav{
        pointer-events: initial;
        width: 100%;
        margin: 0;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    .mainHeader_nav a{
        font-size: 16px;
        float: none;
        display: block;
        margin: 0 auto 16px;
    }

    .mainHeader_nav a:hover, .activeNav{
        color: #fff;
    }

    .mainBanner_welcome{
        font-size: 2vw;
        font-size: 1.1em;
    }

    .mainBanner_title{
        font-size: 3.35em;
    }

    .mainBanner_bajada, .mainBanner_welcome{
        font-size: 1.1em;
    }

    .mainFooter{
        padding-top: 70px;
    }

    .buttonContact{
        margin: 1em auto 1.5em !important;
    }

    .hide768{
        display: none !important;
    }

    .to-up, .to-down{
        transform: translateY(0);
        will-change: transform;
        transition: transform .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    .up-65{
        transform: translateY(-65px);
    }

    .down-76{
        transform: translateY(76px);
    }

    .rotate45{
        transform: rotate(45deg);
    }

    .hide_on{
        opacity: 0;
    }

    .show_on{
        opacity: 1;
    }
}

@media ( max-width: 450px ){

    .formInfo{
        min-width: 100%;
    }

    .boxInfo_titles_name{
        font-size: 1.5em;
    }

    .boxInfo_titles_info{
        font-size: .8em;
    }

}

.cls-1 {
    font-size: 42.77px;
    fill: #074a8e;
    font-family: Hind;
    font-weight: 700;
}