html{
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
}

body{
    margin: 0;
}

html, body{
    height: 100%;
}

a{
    text-decoration: none;

    color: #fff;
}

.mainHeader{
    position: absolute;
    z-index: 9999;
    top: 0;
    /* line-height: 70px; */
    width: 96%;
    padding: 0 2%;
    /*opacity: .5;*/
    /*background: red;'0p´ñ0'p'´0po9o'´0-*/
}

.mainHeader_logo_imgLogo{
  width: 70px;
  margin: 10px 20px 10px 0;
  float: left;
}

.mainHeader_logo_title{
  float:left;
  margin: 26px 0 0 0;
  color: #074a8e;
}

.mainHeader_nav{
    float: right;
    margin-top: 39px;
}

.mainBanner{
    max-width: 100%;
    height: 100%;
    background: url(../img/bgMainBanner2.jpg);
    background-size: cover;
    overflow: hidden;
}

.mainBanner_mainText{
    font-size: 3.6vw;
    margin: 0;
}

.mainBanner_secondText{
    font-size: 1.1vw;
}

.mainFooter{
    height: 1000px;
    border-top: 100px solid orangered;
    background: teal;
}

.center {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.textCenter{
    text-align: center;
}

/*.inlineBlock{
     display: inline-block; 
}*/